/******************
GENERAL
******************/

a,
a:hover {
  text-decoration: none;
}

html, body {
  height: 100%;
}

img {
  max-width: 100%;
}

body {
  position: absolute;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Oxygen';
}

p, a, li, label, input, textarea {
  font-family: 'Source Sans Pro';
  font-size: 18px;
}

ul, li {
  list-style: none;
}

/******************
NAVIGATION
******************/

header {
  border-bottom: 1px solid #000;
  padding: 10px;
}

#main-nav {
  width: 150px;
  background-color: #777;
  color: #fff;
  position: absolute;
  left: -150px;
  height: 100%;
}

#main-nav ul {
  margin: 0;
  padding: 0;
}

#main-nav ul li {
  margin: 0;
  padding: 10px;
  border-bottom: 1px solid #888;
}

#main-nav ul li a {
  color: #fff;
}

#menu-out {
  position: relative;
  padding-left: 1.25em;
}

#menu-out:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.25em;
  width: 1em;
  height: 0.15em;
  background: black;
  box-shadow: 
    0 0.25em 0 0 black,
    0 0.5em 0 0 black;
}

/******************
FOOTER
******************/

footer {
  text-align: center;
  background-color: #F5F5F5;
  padding: 20px 0;
}

footer a img {
  width: 40px;
}

/******************
JUMBOTRON
******************/

#jumbotron { 
  background-size: cover;
  width: 100%;
  padding: 150px 0px;
  background-image: url('img/jumbotron-background.jpeg');
}

#jumbotron h1 {
  color: #fff;
}

/******************
ABOUT
******************/

#about {
  padding: 10px 0 30px;
}

#about p {
  width: 80%;
  line-height: 2;
  margin: auto;
}

/******************
PROJECTS
******************/

button {
  margin: 0;
  padding: 0;
  border: none;
  background-color: #F5F5F5;
  color: none;
  width: 100%;
}

#projects {
  background-color: #F5F5F5;
  padding: 10px 0;
}

#projects ul {
  margin: 0;
  padding: 0;
  width: 75%;
  margin: auto;
}

.well {
  height: 180px;
  background-size: cover;
  color: #fff;
}

.sports-scheduler {
  background-image: url('img/sports-scheduler.jpeg');
}

.bakery-site {
  background-image: url('img/bakery-site.jpeg');
}

.card-game {
  background-image: url('img/card-game.jpeg');
}

.hang-man {
  background-image: url('img/hang-man.jpeg');
}

/******************
CONTACT
******************/

#contact {
  padding: 10px 0 30px;
}

#contact-form {
  width: 80%;
  margin: auto;
}

input {
  border-top: none;
  border-left: none;
  border-right: none;
  width: 100%;
  margin-bottom: 20px;
}

textarea {
  width: 100%;
  height: 150px;
  outline: 1px solid #eee;
  border: 1px solid #eee;
}

input:focus {
  outline: none;
}

input[type="submit"] {
  border: none;
  height: 50px;
  margin-top: 20px;
  color: #fff;
  background-color: #c0c0c0;
}

