@media (min-width: 700px) {
  /******************
  NAVIGATION
  ******************/
  
  header {
    display: none;
    border: none;
  }
  
  #main-nav {
    position: relative;
    left: 0px;
    overflow: auto;
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #000;
    height: 50px;
  }
  
  #main-nav ul {
    width: 100%;
  }
  
  #main-nav ul li {
    float: left;
    border: none;
  }
  
  #main-nav ul li a {
    color: #000;
  }
  
  #main-nav ul li:first-child {
    display: none;
  }
  
  /******************
  FOOTER
  ******************/
  
  footer a img {
    width: 60px;
  }
  
  /******************
  JUMBOTRON
  ******************/
  
  #jumbotron {
    height: 97%;
    padding: 0;
  }
  
  #jumbotron h1 {
    position: absolute;
    top: 45%;
    text-align: center;
    width: 100%;
    left: 0%;
  }
  
  /******************
  PROJECTS
  ******************/
  
  #projects ul li {
    width: 45%;
    margin: 2.5%;
    float: left;
  }
  
}

@media (min-width: 1200px) {
  #projects ul li {
    width: 30%;
    margin: 1.6666666666666%;
    float: left;
  }
  
  .container {
    width: 70%;
  }
  
}
