@media (min-width: 700px) {
  /******************
  NAVIGATION
  ******************/
  
  header {
    display: none;
    border: none;
  }
  
  #main-nav {
    position: relative;
    left: 0px;
    overflow: auto;
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #000;
  }
  
  #main-nav ul {
    width: 100%;
  }
  
  #main-nav ul li {
    float: left;
    border: none;
  }
  
  #main-nav ul li a {
    color: #000;
  }
  
  #main-nav ul li:first-child {
    display: none;
  }
  
}
